### Recommendations with MovieTweetings: Most Popular Recommendation

Now that you have created the necessary columns we will be using throughout the rest of the lesson on creating recommendations, let's get started with the first of our recommendations.

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [2]:
movies.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,10,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [3]:
counts = reviews.groupby('movie_id')['rating'].count()
reviews['count'] = [counts[x] for x in reviews['movie_id'] ]

In [4]:
reviews['rating'][reviews['movie_id'] == 417]#.columns
temp = reviews.groupby('movie_id')['rating'].count()
reviews['date'] = pd.to_datetime(reviews['date'])

In [5]:
reviews['mean_rate'] = reviews.groupby('movie_id')['rating'].mean()

result_by_rating_and_count = reviews.sort_values(by=['mean_rate','count','date'], ascending = False)
#print(result_by_rating_and_count.head())

result_by_rating_and_count_5 = result_by_rating_and_count[result_by_rating_and_count['count'] >= 5]
print(result_by_rating_and_count_5.head())

#t = movies[movies['movie_id'].isin(result_by_rating_and_count_5.index)].sort_values(by = 'date', ascending=False)
#t["date"][t['date'][t['date']==2018].duplicated().values == True]

        user_id  movie_id  rating   timestamp                date  month_1  \
20581      1907   1454468      10  1381504328 2013-10-11 15:12:08        0
90770      6905    993846       9  1419909611 2014-12-30 03:20:11        0
50818      4063    770828      10  1514407576 2017-12-27 20:46:16        0
110251     8568    770828       7  1458938016 2016-03-25 20:33:36        0
17668      1652    770828       9  1383536744 2013-11-04 03:45:44        0

        month_2  month_3  month_4  month_5    ...      month_11  month_12  \
20581         0        0        0        0    ...             0         0
90770         0        0        0        0    ...             0         1
50818         0        0        0        0    ...             0         1
110251        0        0        0        0    ...             0         0
17668         0        0        0        0    ...             1         0

        year_2013  year_2014  year_2015  year_2016  year_2017  year_2018  \
20581           1          0          0          0          0          0
90770           0          1          0          0          0          0
50818           0          0          0          0          1          0
110251          0          0          0          1          0          0
17668           1          0          0          0          0          0

        count  mean_rate
20581    3029       10.0
90770    2673       10.0
50818    2617       10.0
110251   2617       10.0
17668    2617       10.0

[5 rows x 25 columns]

In [59]:
def popular_recommendations(user_id, n_top):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    #append a count column for the number of ratings
    counts = reviews.groupby('movie_id')['rating'].count()

    #get movies by the highest average rating then by the highest count and by date, greater than 5 reviews 
    means = reviews.groupby('movie_id')['rating'].mean()
    last_rating = pd.DataFrame(reviews.groupby('movie_id').max()['date'])
    last_rating.columns = ['last_rate_date']
    
    mean_counts_df = pd.DataFrame({'counts':counts,'mean_rating':means})
    mean_counts_date_df = mean_counts_df.join(last_rating)
    #join everything to movies for sorting
    final_df = movies.set_index('movie_id').join(mean_counts_date_df)
    
    result_by_rating_count_date = final_df.sort_values(by=['mean_rating','counts','last_rate_date'], ascending = False)
    
    result_greater_than5 = result_by_rating_count_date[result_by_rating_count_date['counts'] >= 5]
        
    #if rating any count are similar, sort by movie date
    top_movies = result_greater_than5[:n_top]
    
    return list(top_movies['movie']) # a list of the n_top movies as recommended

Usint the three criteria above, you should be able to put together the above function.  If you feel confident in your solution, check the results of your function against our solution. On the next page, you can see a walkthrough and you can of course get the solution by looking at the solution notebook available in this workspace.

In [60]:
# Put your solutions for each of the cases here

# Top 20 movies recommended for id 1

recs_20_for_1 = popular_recommendations('1', 20) # Your solution list here

# Top 5 movies recommended for id 53968
recs_5_for_53968 = popular_recommendations('53968', 5)# Your solution list here

# Top 100 movies recommended for id 70000
recs_100_for_70000 = popular_recommendations('70000', 100)# Your solution list here

# Top 35 movies recommended for id 43
recs_35_for_43 = popular_recommendations('43', 35)# Your solution list here

In [61]:
recs_20_for_1

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'Sátántangó (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Akahige (1965)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'Körkarlen (1921)']

In [62]:
### You Should Not Need To Modify Anything In This Cell
ranked_movies = t.create_ranked_df(movies, reviews) # only run this once - it is not fast

# check 1 
assert t.popular_recommendations('1', 20, ranked_movies) == recs_20_for_1,  "The first check failed..."
# check 2
assert t.popular_recommendations('53968', 5, ranked_movies) == recs_5_for_53968,  "The second check failed..."
# check 3
assert t.popular_recommendations('70000', 100, ranked_movies) == recs_100_for_70000,  "The third check failed..."
# check 4
assert t.popular_recommendations('43', 35, ranked_movies) == recs_35_for_43,  "The fourth check failed..."

print("If you got here, looks like you are good to go!  Nice job!")

['MSG 2 the Messenger (2015)', 'Avengers: Age of Ultron Parody (2015)', 'Sorry to Bother You (2018)', 'Selam (2013)', "Quiet Riot: Well Now You're Here, There's No Way Back (2014)", 'Crawl Bitch Crawl (2012)', 'Make Like a Dog (2015)', 'Pandorica (2016)', 'Third Contact (2011)', 'Romeo Juliet (2009)', 'Be Somebody (2016)', 'Birlesen Gonuller (2014)', 'Agnelli (2017)', 'Sátántangó (1994)', 'Shijie (2004)', 'Foster (2011)', 'CM101MMXI Fundamentals (2013)', 'Akahige (1965)', 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)', 'Körkarlen (1921)']
If you got here, looks like you are good to go!  Nice job!

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

Try writing a few tests against the test function in our test function.  Below returns the top 20 movies for user 1 based on the specified year and genre filters.  Does yours return the same? 

```
t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])
```

In [64]:
def popular_recs_filtered(user_id, n_top, ranked_movies, years=None, genres=None):
    '''
    REDO THIS DOC STRING
    
    INPUT:
    user_id - the user_id (str) of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    ranked_movies - a pandas dataframe of the already ranked movies based on avg rating, count, and time
    years - a list of strings with years of movies
    genres - a list of strings with genres of movies
    
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Filter movies based on year and genre
    if years is not None:
        ranked_movies = ranked_movies[ranked_movies['date'].isin(years)]

    if genres is not None:
        num_genre_match = ranked_movies[genres].sum(axis=1)
        ranked_movies = ranked_movies.loc[num_genre_match > 0, :]
            
            
    # create top movies list 
    top_movies = list(ranked_movies['movie'][:n_top])

    return top_movies

In [65]:
# Top 20 movies recommended for id 1 with years=['2015', '2016', '2017', '2018'], genres=['History']
recs_20_for_1_filtered = popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])

# Top 5 movies recommended for id 53968 with no genre filter but years=['2015', '2016', '2017', '2018']
recs_5_for_53968_filtered = popular_recs_filtered('53968', 5, ranked_movies, years=['2015', '2016', '2017', '2018'])

# Top 100 movies recommended for id 70000 with no year filter but genres=['History', 'News']
recs_100_for_70000_filtered = popular_recs_filtered('70000', 100, ranked_movies, genres=['History', 'News'])

In [66]:
### You Should Not Need To Modify Anything In This Cell

# check 1 
assert t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History']) == recs_20_for_1_filtered,  "The first check failed..."
# check 2
assert t.popular_recs_filtered('53968', 5, ranked_movies, years=['2015', '2016', '2017', '2018']) == recs_5_for_53968_filtered,  "The second check failed..."
# check 3
assert t.popular_recs_filtered('70000', 100, ranked_movies, genres=['History', 'News']) == recs_100_for_70000_filtered,  "The third check failed..."

print("If you got here, looks like you are good to go!  Nice job!")

If you got here, looks like you are good to go!  Nice job!

In [68]:
ranked_movies

,movie,genre,date,1800's,1900's,2000's,History,News,Horror,Musical,...,Action,Documentary,Animation,Comedy,Short,Western,Thriller,avg_rating,num_ratings,last_rating
movie_id,,,,,,,,,,,,,,,,,,,,,
4921860,MSG 2 the Messenger (2015),Comedy|Drama|Fantasy,2015,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,10.000000,48,2016-08-14 17:16:50
5262972,Avengers: Age of Ultron Parody (2015),Short|Comedy,2015,0,0,1,0,0,0,0,...,0,0,0,1,1,0,0,10.000000,28,2016-01-08 00:44:43
5688932,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi,2018,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,10.000000,14,2018-06-17 01:44:48
2737018,Selam (2013),Drama|Romance,2013,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,10.000000,10,2015-05-10 22:56:01
2560840,"Quiet Riot: Well Now You're Here, There's No W...",Documentary|Music,2014,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,10.000000,6,2016-01-23 00:30:44
2219210,Crawl Bitch Crawl (2012),Horror|Sci-Fi|Thriller,2012,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,10.000000,6,2013-07-22 23:30:52
4448444,Make Like a Dog (2015),Short|Comedy|Drama,2015,0,0,1,0,0,0,0,...,0,0,0,1,1,0,0,10.000000,5,2017-09-09 13:51:48
5131914,Pandorica (2016),Sci-Fi,2016,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,10.000000,5,2016-04-04 05:52:22
2059318,Third Contact (2011),Mystery|Sci-Fi|Thriller,2011,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,10.000000,5,2014-02-13 15:48:31
1431149,Romeo Juliet (2009),Drama,2009,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,10.000000,5,2013-07-26 17:19:01
5512872,Be Somebody (2016),Comedy|Drama,2016,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,9.985836,353,2018-05-17 00:29:18
4148400,Birlesen Gonuller (2014),Drama|History,2014,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,9.882353,17,2015-10-22 23:34:37
6798422,Agnelli (2017),Documentary,2017,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,9.800000,5,2018-05-15 22:39:34
111341,Sátántangó (1994),Comedy|Drama,1994,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,9.800000,5,2018-03-09 08:09:54
423176,Shijie (2004),Drama,2004,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,9.800000,5,2015-07-05 02:27:46
1629443,Foster (2011),Comedy|Drama|Family,2011,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,9.800000,5,2014-03-15 23:37:57
2592910,CM101MMXI Fundamentals (2013),Documentary|Comedy,2013,0,0,1,0,0,0,0,...,0,1,0,1,0,0,0,9.666667,9,2013-09-20 13:43:47
58888,Akahige (1965),Drama,1965,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,9.666667,6,2017-08-17 23:25:54
2396421,Crystal Lake Memories: The Complete History of...,Documentary,2013,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,9.666667,6,2017-01-04 04:58:14
12364,Körkarlen (1921),Drama|Fantasy|Horror,1921,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,9.625000,8,2016-09-30 18:20:04
57565,Tengoku to jigoku (1963),Crime|Drama|Mystery,1963,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,9.600000,10,2018-04-08 20:08:26
6054758,Kirik Party (2016),Drama,2016,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,9.600000,5,2017-01-05 06:52:16
5134588,Chasing Asylum (2016),Documentary,2016,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,9.600000,5,2016-07-18 12:01:43
363473,Beyond the Sea (2004),Biography|Drama|Music,2004,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,9.600000,5,2015-04-16 22:18:26
2265179,Blood Brother (2013),Documentary,2013,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,9.571429,7,2015-06-14 18:04:04
5323386,Poshter Girl (2016),Comedy,2016,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,9.555556,9,2016-04-09 17:15:36
29843,The Adventures of Robin Hood (1938),Action|Adventure|Romance,1938,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,9.500000,10,2016-04-23 19:34:05
45274,Umberto D. (1952),Drama,1952,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,9.500000,8,2016-07-16 06:19:13
2357788,Bridegroom (2013),Documentary,2013,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,9.428571,14,2016-01-05 18:56:04
6781498,No Stone Unturned (2017),Documentary,2017,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,9.428571,7,2018-04-15 19:03:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088923,The Cloth (2012),Action|Fantasy|Horror,2012,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,2.750000,8,2013-08-30 00:46:27
3203620,The Dinner (2017),Drama|Mystery|Thriller,2017,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,2.714286,21,2018-06-03 06:16:35
3727824,The Ouija Experiment 2: Theatre of Death (2015),Horror,2015,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,2.714286,7,2018-04-21 17:09:51
2769184,Debug (2014),Horror|Sci-Fi,2014,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,2.714286,7,2016-05-31 23:24:18
466342,Date Movie (2006),Comedy|Romance,2006,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,2.666667,6,2018-03-02 16:50:28
2006801,Night of the Living Dead: Resurrection (2012),Horror,2012,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,2.666667,6,2013-12-27 16:07:36
3283792,Erkek tarafi testosteron (2013),Comedy|Drama,2013,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,2.600000,5,2013-12-09 15:18:25
2325518,Beneath (2013),Horror|Thriller,2013,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,2.444444,9,2016-04-03 09:19:54
185183,Battlefield Earth (2000),Action|Adventure|Sci-Fi,2000,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,2.437500,16,2016-10-14 03:41:54
1540767,Apartment 1303 3D (2012),Horror,2012,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,2.434783,23,2016-09-19 17:37:17
3551400,Unnatural (2015),Action|Horror|Thriller,2015,0,0,1,0,0,1,0,...,1,0,0,0,0,0,1,2.400000,5,2017-11-02 00:09:08
2357489,Zanjeer (2013),Action|Thriller,2013,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,2.400000,5,2013-10-20 14:13:10
110978,The Return of the Texas Chainsaw Massacre (1994),Comedy|Horror|Thriller,1994,0,1,0,0,0,1,0,...,0,0,0,1,0,0,1,2.333333,6,2017-09-24 13:11:07
5988370,Reis (2016),Biography|Drama,2016,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,2.285714,35,2017-03-19 15:13:36
829176,Gallowwalkers (2012),Action|Fantasy|Horror,2012,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,2.269231,26,2018-02-07 04:59:11
3104304,Ice Soldiers (2013),Action|Sci-Fi,2013,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,2.200000,5,2017-03-24 23:43:04
2622826,Avalanche Sharks (2013),Action|Horror|Sci-Fi,2013,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,2.200000,5,2016-10-28 20:06:51
3561236,Containment (2015),Horror|Sci-Fi|Thriller,2015,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,2.200000,5,2016-06-17 20:43:01
3036740,Humshakals (2014),Comedy,2014,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,2.200000,5,2015-05-28 03:47:41
1098327,Dragonball Evolution (2009),Action|Adventure|Fantasy,2009,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,2.157895,19,2017-04-16 09:32:55
2147365,Keith Lemon: The Film (2012),Comedy,2012,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,2.142857,21,2015-02-01 00:52:05
105585,Thunderheart (1992),Crime|Mystery|Thriller,1992,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,2.133333,15,2017-05-22 04:43:49
2573750,Gulaab Gang (2014),Action|Drama,2014,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,2.000000,6,2015-01-11 07:04:42
5669936,The Recall (2017),Horror|Sci-Fi|Thriller,2017,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,2.000000,5,2017-12-22 14:00:11
1213644,Disaster Movie (2008),Comedy,2008,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1.937500,16,2015-08-02 06:08:29
60666,Manos: The Hands of Fate (1966),Horror,1966,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1.857143,7,2018-05-06 19:18:10
3108604,American Poltergeist (2015),Thriller,2015,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1.800000,5,2017-10-31 03:02:32
3187378,The Asian Connection (2016),Action,2016,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1.666667,6,2017-07-11 06:13:16
4458206,Kod Adi K.O.Z. (2015),Crime|Mystery,2015,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.000000,30,2018-01-20 04:44:12
7923374,Badang (2018),Comedy|Fantasy,2018,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1.000000,7,2018-02-24 03:21:51